@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font */
:root { font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial; }
body { @apply text-[#0A0A0A] bg-white transition-colors duration-300 ease-out; }
.dark body { @apply bg-[#0B1120] text-[#E2E8F0]; }


